<!DOCTYPE html>
<html lang="en">
<head>

<script
			  src="https://code.jquery.com/jquery-3.1.0.min.js"
			  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			  crossorigin="anonymous"></script>

<script src="//js.pusher.com/3.1/pusher.min.js"></script>


<script type="text/javascript">
	var pusher = new Pusher("<%= Pusher.key %>")
	var messages = pusher.subscribe('messages')
	var load = messages.bind('message', function(data) {
 			$('<li>').html(data.message).appendTo($('#message'))
		})
	window.onload = load;
</script>
	<meta charset="UTF-8">
	<title>RubyApp</title>
</head>
<body>
	<h1>RubyApp</h1>

	<form action="/messages" method="POST">
		<label for="message"> Message: </label>
		<input type="text" name="message">
		<input type="submit" value="Go!">
	</form>

	<ol id="message"></ol>
</body>
</html>